
{
  "config":
  {
    "google_key": "<YOURKEY>",
    "shorten_urls": false,
    "fetch_sublocality": false,
    "geofence_file": ""
  },
  "endpoints":
  {
    "my_discord_channel":
    {
      "type": "discord",
      "url": "http://<YOUR DISCORD WEBHOOK URL>"
    },
    "location_channel":
    {
      "type": "discord",
      "url": "http://<YOUR DISCORD WEBHOOK URL>"
    }
  },
  "includes":
  {
    "perfect_iv":
    {
      "pokemons":
      [
        {
          "min_iv": 100
        }
      ]
    },
    "some_other_list":
    {
      "min_iv": 50,
      "pokemons":
      [
        {
          "name": "Pidgey"
        },
        {
          "name": "Rattata",
          "min_iv": 82,
          "moves":
          [
            {
              "move_1": "Bubble"
            }
          ]
        },
        {
          "name": "Blastoise",
          "min_cp":
          {
            "5.5": 300,
            "10": 600
          },
          "max_hp":
          {
            "25": 120,
            "30": 150
          },
          "moves":
          [
            {
              "move_2": "Hydro Pump"
            },
            {
              "move_1": "Water Gun",
              "move_2": "Flash Cannon"
            }
          ]
        }
      ]
    },
    "location_restricted":
    {
      "min_lat": 12.123,
      "max_lat": 23.234,
      "min_lon": 12.123,
      "max_lon": 23.234,
      "pokemons_refs":
      [
        "perfect_iv",
        "some_other_list"
      ]
    }
  },
  "raid_includes":
  {
    "level_1":
    {
      "levels": [1],
      "egg": false
    },
    "level_2":
    {
      "levels": [2],
      "egg": false
    },
    "some_pokemon_and_move_restrictions":
    {
      "egg": false,
      "pokemons": [
        {
          "name": "Lugia",
          "moves": [
            {
              "move_1": "Extrasensory",
              "move_2": "Hydro Pump"
            },
            {
              "move_1": "Dragon Tail"
            }
          ]
        },
        {
          "name": "Blastoise",
          "min_cp": 30000
        }
      ]
    },
    "egg_level_2":
    {
      "levels": [2],
      "raid": false
    }
  },
  "notification_settings":
  {
    "Test":
    {
      "endpoints":
      [
        "my_discord_channel"
      ],
      "includes":
      [
        "perfect_iv",
        "some_other_list"
      ],
			"raid_includes":
			[
				"level_1",
				"some_pokemon_and_move_restrictions"
			]
    },
    "Location_Restricted":
    {
      "endpoints":
      [
        "location_channel"
      ],
      "includes":
      [
        "location_restricted"
      ],
			"raid_includes":
			[
				"egg_level_2"
			]
    }
  }
}
